@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";

$dropdown-link-active-bg: $dark;

$color-mode-type: data;

@include color-mode(dark) {
  .link-dark {
    color: white;
  }
}

@import "node_modules/bootstrap/scss/bootstrap.scss";