{{ define "main" }}
<main class="container mt-5">
  <!-- Main hero unit for a primary marketing message or call to action -->
      <h1 class="display-3 fw-bold mb-5">Изучаем REST: Руководство по созданию RESTful-сервиса</h1>
        <p>Разработка RESTful веб-сервисов, подобно другим навыкам в программировании, является <strong>отчасти
          искусством, отчасти наукой</strong>.
          По мере развития интернет-индустрии, разработка REST API становится более детерминированной благодаря появлению
          лучших практик.
          И поскольку в разработке RESTful веб-сервисов нет чётких стандартов, за исключением HTTP, важно спроектировать
          свой RESTful API
          в соответствии с этими лучшими практиками. Это облегчит разработку и упростит использование API клиентом.</p>
          <p>Существует не так много руководств по REST API, которые могли бы помочь программистам-одиночкам.
            <a href="http://www.restapitutorial.ru">RestApiTutorial.ru</a> посвящен отслеживанию лучших практик REST API и
            предоставляет ресурсы для быстрого ознакомления с темой и самообразования разработчиков.
            Мы рассмотрим теоретические и практические аспекты создания RESTful веб-сервисов.
          </p>
          <p>Перейдите к уроку <a href="{{ ref . "whatisrest" }}">Что такое REST?</a> для рассмотрения концепций и
            ограничений RESTful-архитектуры.</p>
          <p class="mt-5"><a class="btn btn-primary btn-large" href="{{ ref . "whatisrest" }}">Приступим к работе &raquo;</a></p>
</main>
{{ end }}