<footer class="bg-dark text-light py-4 mt-5 mt-auto">
  <div class="container text-secondary">
    <div class="row">
      <div class="col-sm">
        <p> Данный сайт является переводом <a class="link-secondary text-decoration-none"
            href="https://www.restapitutorial.com/" target="_blank">RestApiTutorial.com</a></p>
        <p class="hover-light"><a class="link-secondary text-decoration-none"
            href="https://github.com/Hexlet/RestApiTutorial.ru" target="_blank">Исходный код</a></p>
      </div>
      <div class="col-sm">
        <p class="mb-1">&copy;Андрей Куманяев, 2012-2014. Все права защищены.</p>
        <p class="mb-1">&copy;Kaize Team</p>
        <p class="mb-1">&copy;<a href="https://ru.hexlet.io/" class="text-decoration-none text-secondary" target="_blank" rel="noopener">Hexlet</a> 2025</p>
        <p class="mb-1">&copy;Pearson eCollege, 2012. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
